/* General reset and styling */
body {
  margin: 0;
  /* padding: 5px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96vh;
  background-color: #f4f4f4;
  font-family: "Parkinsans", sans-serif;
  width: 250px;
}

/* General container styling for the main content */
#itemsListContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for the header */
.extention-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Styling for the input container */
.input-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Label and input styling */
label {
  font-size: 1rem;
  color: #333;
}

.input-box {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.input-box:focus {
  outline: none;
  border-color: #3498db;
}

/* Textarea styling */
.input-textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  resize: vertical;
  min-height: 100px;
  box-sizing: border-box;
}

.input-textarea:focus {
  outline: none;
  border-color: #3498db;
}

/* Styling for the checkbox form */
form p {
  font-size: 0.875rem;
  color: #333;
}

/* Button styling */
button {
  padding: 12px 24px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #3498db;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 10px 0;
  text-align: center;
}

button:hover {
  background-color: #2980b9;
  transform: translateY(-3px);
}

/* Styling for the Add to Wishlist button */
.save-button {
  background-color: #2ecc71; /* Green */
}

.save-button:hover {
  background-color: #27ae60;
}

/* Styling for the View Wishlist button */
.view-wl-button {
  background-color: #a13ccd; /* Purple */
}

.view-wl-button:hover {
  background-color: #932bc0;
}
